.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none
}

.todo-text{
    margin: 0 10px;
}

.del-button {
    border: none;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/img.jpg);
}

.checked{
    text-decoration: line-through;
}